export(predictDNAShapes,
       readShape,
       plotShape,
       plotShapes,
       seq2shape,
       read.shape.profiles,
       store.shape.profiles)

importFrom(Biostrings,
           readDNAStringSet,
           writeXStringSet,
           DNAStringSet,
           reverseComplement,
           width)
